<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>nonar</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>-c</string>
        <string>$HOME/.cargo/bin/nonar</string>
    </array>

    <key>KeepAlive</key>
    <true />

    <key>RunAtLoad</key>
    <true />

    <key>StandardOutPath</key>
    <string>/tmp/nonar.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/nonar.err</string>
</dict>
</plist>
